# Files to be excluded from publishing

html/* export-ignore
scripts/* export-ignore
test/* export-ignore


* text=auto eol=lf

# Generated source files
udl/src/*.json linguist-generated -diff
udl/src/parser.c linguist-generated -diff
udl/src/tree_sitter/* linguist-generated

core/src/*.json linguist-generated -diff
core/src/parser.c linguist-generated -diff
core/src/tree_sitter/* linguist-generated

expr/src/*.json linguist-generated -diff
expr/src/parser.c linguist-generated -diff
expr/src/tree_sitter/* linguist-generated

# C bindings
bindings/c/* linguist-generated
CMakeLists.txt linguist-generated
Makefile linguist-generated

# Rust bindings
bindings/rust/* linguist-generated
Cargo.toml linguist-generated
Cargo.lock linguist-generated

# Node.js bindings
bindings/node/* linguist-generated
binding.gyp linguist-generated
package.json linguist-generated
package-lock.json linguist-generated

# Python bindings
bindings/python/** linguist-generated
setup.py linguist-generated
pyproject.toml linguist-generated

# Go bindings
bindings/go/* linguist-generated
go.mod linguist-generated
go.sum linguist-generated

# Swift bindings
bindings/swift/** linguist-generated
Package.swift linguist-generated
Package.resolved linguist-generated

